<p>Welcome to contact page</p>
<h2>Your detail only edit</h2>
<h4>Edit Contact</h4>
<ul>
  <% if(validationResult){ %>
      <% validationResult.forEach(element => { %>
      <li>
       <%= element %>
      </li>
      <% }) %>
  <% } %>
</ul>
    <form action="/contacts/edit/<%= prevName %>" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= contact.name %>" required>

        <label for="number">Number:</label>
        <input type="text" id="number" name="number" value="<%= contact.number %>" required>

        <label for="email">email:</label>
        <input type="email" id="email" name="email" value="<%= contact.email %>">

        <input type="hidden" id="oldName" name="oldName" value="<%= contact.name %>">

        <input type="submit" value="Edit Contact">
    </form>

    <h4>Detail contact</h4>
     <ul>
        <li>
          Name: <%= contact.name %>,
          Number: <%= contact.number %>,
          Email: <%= contact.email %>
        </li>
    </ul>